*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 30, 30);
}

.container {
    width: 1250px;
    padding: 0 20px;
    margin: 0 auto;
}

.instagram {
    padding: 20px;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-btn {
    border: none;
    background-color: transparent;
    outline: none;
}

.close-btn .bx {
    font-size: 35px;
    color: #fff;
}

.active .slider-img {
    width: 300px;
    height: 80vh;
    object-fit: cover;
    border-radius: 8px;
    /* border: 1px solid black; */
}

.slider-img {
    width: 150px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    
}

.slider-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider-item {
    cursor: pointer;
}

.slider-box {
    position: relative;
    padding-top: 80px;
    /* overflow-x: hidden; */
    overflow-x: scroll;
    /* transform: translateX(300px); */
}


.left__btn {
    position: absolute;
    top: 45%;
    left: 400px;
    border: none;
    border-radius: 50%;
    background-color: rgba(221, 218, 15, 0.89);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
   
}


.left__btn .bx {
    color: rgb(22, 22, 22);
    font-size: 25px;
}

.right__btn {
    position: absolute;
    top: 45%;
    right: 400px;
    border: none;
    border-radius: 50%;
    background-color: rgba(226, 230, 17, 0.89);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
}

.right__btn .bx {
    color: rgb(22, 22, 22);
    font-size: 25px;
}

.item-box {
    position: relative;
}

.avatar-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 25px;
}

.img-avatar {
    width: 60px;
    height: 60px;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}
.avatar-title {
    color: rgb(77, 74, 74);
}

.sumbit-box {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.sumbit-box input {
    padding: 15px 20px;
    border-radius: 30px;
    border: 3px solid #333;
    outline: none;
    background-color: transparent;
}

.sumbit-box button {
   background-color: transparent;
   border: none;
   margin-left: 10px;
}

.sumbit-box .bx {
    font-size: 22px;
 }

 ::placeholder {
     font-size: 15px;
 }

.slider-item {
    margin-left: 30px;
}

.user {
    display: flex;
    align-items: center;
}

.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-box {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.user span {
    color: rgb(41, 41, 41);
}

.active {
    position: relative;
}